$white: #FFFFFF;
$light-grey: #F4F4F4;
$light-green: #A1D19D;
$black: #000000;

$header-content-color: $light-green;
$logo-text-right-color: $light-green;
$logo-text-left-color: $black;
$main-background-color: $white;
$border-color: $light-grey;
$tab-Background: $white;

